*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
   
    /* overflow: hidden; */
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(162, 241, 169);
}

#panel{
  width:80%;
  height: 80%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

#ptop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    /* padding: 0px 30%; */
    width: 100%;
    height: 100px;
    background-color: rgb(73, 129, 73);
}

.elem{
display: flex;
align-items: center;
gap: 10px;

}
h2{
    color: white;
}
.box{
    padding: 10px;
    /* width: 100%; */
    background-color: white;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(73, 129, 73);
}
#pbtm{
    display: flex;
    justify-content: center;

    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    padding: 10px;
    width: 100%;
    height: calc(100% - 100px);
    overflow-x: hidden;
    overflow-y: scroll;

    /* background-color: aqua; */

}

.bubble{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: ; */
    color: white;
    background-color: rgb(73, 129, 73);

}
.bubble:hover{
    background-color: rgb(141, 216, 141);
    cursor: pointer;
}

.game-over-container > h1>span{
color: red;
}

@media only screen and (max-width: 600px){
    #ptop{
        /* background-color: red; */
        flex-direction: column;
        justify-content: center;
        gap: 1px;
        flex-wrap: nowrap;
        
    }
}